.cardlist {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1.5rem 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 700px) {
  .cardlist {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1100px) {
  .cardlist {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cardlist .card:nth-child(1) {
  animation-delay: 0.1s;
}
.cardlist .card:nth-child(2) {
  animation-delay: 0.2s;
}
.cardlist .card:nth-child(3) {
  animation-delay: 0.3s;
}
.cardlist .card:nth-child(4) {
  animation-delay: 0.4s;
}
.cardlist .card:nth-child(5) {
  animation-delay: 0.5s;
}
.cardlist .card:nth-child(6) {
  animation-delay: 0.6s;
}
